$color-primary: #55c57a;
$color-gray-dark:#7777;
$color-white: #fff;

$color-grey-light-1:#f7f7f7;
$color-black:#000;
$color-primary-dark: #004d00; // Example dark green
$color-primary-light: #167c40;